body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.3)), url("../../../assets/images/login-bg-alt.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.hydrated {
    --width: 20rem;
}

amplify-authenticator {
    float: right;
    margin-right: 5vw;
}

.top-left-text {
    padding: 30px;
    position: absolute;
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    color: white;
}

:root {
    --amplify-primary-color: rgb(0, 60, 255);
    --amplify-primary-tint: rgb(51, 117, 240);
    --amplify-primary-shade: #0f35b3;
}

@media screen and (max-width: 768px) {
    body {
        background-image: linear-gradient(to bottom, rgba(114, 51, 51, 0.1), rgba(0, 0, 0, 0.7)), url("../../../assets/images/login-bg-alt.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        overflow: hidden;
    }
    .section {
        float: none;
        margin-right: 0vw;
    }
    .top-left-text {
        padding: 30px;
        position: absolute;
        margin: 0 auto;
        max-width: 100%;
        display: flex;
        color: white;
        bottom: 0;
    }
}